<div class="movie-grid">
    <mat-card *ngFor="let movie of filteredMovies" class="movie-card">
        <div class="card-header">
            <img [src]="movie.ImagePath" alt="{{ movie.Title }}" />
            <button class="favorite-btn" [ngClass]="{'favorited': isFavorite(movie._id)}"
                (click)="toggleFavorite(movie._id)">
                <mat-icon>
                    {{ isFavorite(movie._id) ? 'favorite' : 'favorite_border' }}
                </mat-icon>
            </button>
        </div>
        <mat-card-title>{{ movie.Title }}</mat-card-title>
        <mat-card-subtitle>
            Directed by: {{ movie.Director?.Name }}
        </mat-card-subtitle>

        <div class="card-actions">
            <button mat-button (click)="openGenreDialog(movie.Genre)">Genre</button>
            <button mat-button (click)="openDirectorDialog(movie.Director)">Director</button>
            <button mat-button (click)="openMovieDetailsDialog(movie)">Details</button>
        </div>
    </mat-card>
</div>