<mat-card class="register-container">
    <mat-card-header>
        <!-- You can add a title or logo here if needed -->
    </mat-card-header>
    <mat-card-content>
        <form #registerForm="ngForm" (ngSubmit)="registerUser()">
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Username</mat-label>
                <input matInput [(ngModel)]="userData.Username" name="Username" required />
            </mat-form-field>

            <!-- Password Field with Eye Toggle -->
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="userData.Password" name="Password"
                    required />
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Show/hide password'"
                    [attr.aria-pressed]="!hide" type="button">
                    <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Email</mat-label>
                <input matInput [(ngModel)]="userData.Email" name="Email" type="email" required />
            </mat-form-field>
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Birthday</mat-label>
                <input matInput [(ngModel)]="userData.Birthday" name="Birthday" type="date" />
            </mat-form-field>
            <mat-card-actions class="register-btn-wrapper">
                <button class="register-btn" mat-raised-button color="primary" type="submit"
                    [disabled]="registerForm.invalid">
                    Sign Up
                </button>
            </mat-card-actions>
        </form>
    </mat-card-content>
</mat-card>