<div class="favorites-page">
    <h2>My Favorite Movies</h2>
    <div *ngIf="favoriteMovies.length === 0">
        <p>You have no favorite movies yet.</p>
    </div>
    <div class="movie-grid">
        <mat-card *ngFor="let movie of favoriteMovies" class="movie-card">
            <div class="card-header">
                <img [src]="movie.ImagePath" alt="{{ movie.Title }}" />
                <button class="favorite-btn favorited" (click)="toggleFavorite(movie._id)">
                    <mat-icon>favorite</mat-icon>
                </button>
            </div>
            <mat-card-title>{{ movie.Title }}</mat-card-title>
            <mat-card-subtitle>
                Directed by: {{ movie.Director?.Name }}
            </mat-card-subtitle>
            <mat-card-content>
                <p>{{ movie.Description }}</p>
            </mat-card-content>

        </mat-card>
    </div>
</div>