<div class="profile-container" *ngIf="user">
    <h2>User Profile</h2>
    <div class="profile-details" *ngIf="!isEditing">
        <div class="profile-details-card">
            <p><strong>Username:</strong> {{user.Username}}</p>
            <p><strong>Email:</strong> {{user.Email}}</p>
            <p><strong>Birthday:</strong> {{user.Birthday | date: 'mediumDate'}}</p>

        </div>

        <div class="profile-actions">
            <button class="edit-btn" (click)="isEditing = true">Edit</button>
            <button class="delete-btn" (click)="deleteProfile()">Delete Profile</button>
        </div>
    </div>

    <form *ngIf="isEditing" class="edit-form">
        <mat-form-field appearance="outline">
            <input matInput placeholder="Username" [(ngModel)]="editableUser.Username" name="username" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <input matInput placeholder="Email" [(ngModel)]="editableUser.Email" name="email" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <input matInput type="date" placeholder="Birthday" [(ngModel)]="editableUser.Birthday" name="birthday">
        </mat-form-field>
        <div class="profile-actions">
            <button class="save-btn" (click)="saveProfile()" type="button">Save</button>
            <button class="cancel-btn" type="button" (click)="cancelEdit()">Cancel</button>
        </div>
    </form>
</div>