<div class="profile-container" *ngIf="user">
    <h2>User Profile</h2>
    <div *ngIf="!isEditing">
        <p><strong>Username:</strong> {{user.Username}}</p>
        <p><strong>Email:</strong> {{user.Email}}</p>
        <p><strong>Birthday:</strong> {{user.Birthday | date}}</p>
        <button mat-button color="primary" (click)="isEditing = true">Edit</button>
        <button mat-raised-button color="warn" (click)="deleteProfile()">Delete Profile</button>
    </div>

    <form *ngIf="isEditing">
        <mat-form-field>
            <input matInput placeholder="Username" [(ngModel)]="editableUser.Username" name="username" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Email" [(ngModel)]="editableUser.Email" name="email" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="date" placeholder="Birthday" [(ngModel)]="editableUser.Birthday" name="birthday">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="saveProfile()">Save</button>
        <button mat-button type="button" (click)="cancelEdit()">Cancel</button>
    </form>
</div>